.home__profile-image {
    position: absolute;
    width: 8rem;
    height: 8rem;
    border-radius: 12rem 12rem;
    border: 2px solid var(--color-black);
    overflow: hidden;
    z-index: 1;
    margin-left: 11.5rem;
    margin-top: 3rem;
    transition: transform 0.3s ease;
 }
 
 .home__profile-image:hover {
    transform: rotate(5deg) scale(1.05);
 }
 
